<a href="https://colab.research.google.com/github/KenyaWashed/Road_Accident_Analysis/blob/main/Preprocessing/Source/Demo_Preprocessing_Anime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd
from io import StringIO
import numpy as np
import time
from datetime import datetime

Tách cột file raw_manga.csv (Lấy từ bảng xếp hạng All Manga)
1. Title (object)
2. Score (float64) - Ô ko có giá trị thì điền min (Các ô thiếu là các ô dưới cùng)
3. Vote (int64) - Ô không có giá trị này thì điền median (Do myanimelist có công thức tính điểm)
4. Ranked (int64)
5. Popularity (int64)
6. Members (int64)
7. Favorite (int64)
8. Type (object)
9. Volumes (int64) - Ô ko có giá trị thì để median
10. Chapters (int64) - Ô ko có giá trị thì để median
11. Status (object)
-------------- Published (Loại cột này, tách làm 2 cột Realeased date và Completed date)
12. Realeased date (datetime64)
13. Completed date (datetime64) - Nếu ô nào ko có thì để ngày kết thúc là 24/12/2024
14. Genres (object) - Kiểu list vẫn nên giữ nguyên - Các ô ko có giá trị để []
15. Themes (object) - Kiểu list vẫn nên giữ nguyên - Các ô ko có giá trị để []
16. Demographics (object) - Giữ nguyên dạng list. Các ô không có giá trị để None
17. Serialization (object) - Giữ nguyên dạng list. Cái này không có giá trị thì để None
18. Author (object) - Chuyển dạng string sang dạng list
19. Total Review - int64
--------------- (Tách cột Type Review thành 3 cột)
20. Recommended - int64
21. Mixed Feelings - int64
22. Not Recommended - int64

# 1. Read csv

In [ ]:
repo_owner = "hahuy2004"
repo_name = "FinalProject_IntroductionDS"
file_path = "data/raw_manga.csv"
branch = "master"
token = "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"  # personal access token

url = f"https://raw.githubusercontent.com/{repo_owner}/{repo_name}/{branch}/{file_path}"

# fetch
headers = {"Authorization": f"token {token}"}
response = requests.get(url, headers=headers)

if response.status_code == 200:
    raw_df = pd.read_csv(StringIO(response.text))
    raw_df.head()
else:
    print(f"Failed to fetch file: {response.status_code}")

# 2. Basic understanding

In [ ]:
column_names = list(raw_df.columns)
column_names

['Title',
 'Score',
 'Vote',
 'Ranked',
 'Popularity',
 'Members',
 'Favorite',
 'Types',
 'Volumes',
 'Chapters',
 'Status',
 'Published',
 'Genres',
 'Themes',
 'Demographic',
 'Serialization',
 'Author',
 'Total Review',
 'Type Review']

In [ ]:
rows, cols = raw_df.shape
print(f"Row: {rows}, Column: {cols}")

Row: 20000, Column: 19

In [ ]:
print(raw_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          20000 non-null  object
 1   Score          19929 non-null  float64
 2   Vote           19929 non-null  float64
 3   Ranked         20000 non-null  int64
 4   Popularity     20000 non-null  int64
 5   Members        20000 non-null  object
 6   Favorite       20000 non-null  object
 7   Types          20000 non-null  object
 8   Volumes        20000 non-null  object
 9   Chapters       20000 non-null  object
 10  Status         20000 non-null  object
 11  Published      20000 non-null  object
 12  Genres         20000 non-null  object
 13  Themes         20000 non-null  object
 14  Demographic    11785 non-null  object
 15  Serialization  16698 non-null  object
 16  Author         19951 non-null  object
 17  Total Review   20000 non-null  int64
 18  Type Review    20000 non-null  object
dtypes: float64(2), int64(3), object(14)
memory usage: 2.9+ MB
None

# 3. Calculate missing value ratios and filling with NaN

In [ ]:
print("Missing values (%):\n")
print(round(raw_df.isnull().sum().sort_values(ascending=False)/len(raw_df.index),4)*100)

Missing values (%):

Demographic      41.08
Serialization    16.51
Vote              0.36
Score             0.36
Author            0.24
Title             0.00
Published         0.00
Total Review      0.00
Themes            0.00
Genres            0.00
Chapters          0.00
Status            0.00
Volumes           0.00
Types             0.00
Favorite          0.00
Members           0.00
Popularity        0.00
Ranked            0.00
Type Review       0.00
dtype: float64

In [ ]:

missing_themes = raw_df['Themes'].isnull().sum()
percentage_missing_themes = (missing_themes / len(raw_df)) * 100
print(f"Percentage of missing values in Themes: {percentage_missing_themes:.2f}%")

Percentage of missing values in Themes: 0.00%

In [ ]:
def parse_themes(theme_str):
  """Parses a string representation of a list into a list, removing brackets."""
  if isinstance(theme_str, str):
    theme_str = theme_str.replace('[', '').replace(']', '')
    if theme_str:
      return [item.strip() for item in theme_str.split(',')]
    else:
      return []
  else:
    return []


raw_df['Themes'] = raw_df['Themes'].apply(parse_themes)
raw_df['Genres'] = raw_df['Genres'].apply(parse_themes)
# Calculate the percentage of empty lists in the 'Themes' column
percentage_empty_themes = (raw_df['Themes'].apply(len) == 0).mean() * 100
percentage_empty_genres = (raw_df['Genres'].apply(len) == 0).mean() * 100
print(f"Percentage of empty lists in 'Themes': {percentage_empty_themes:.2f}%")

Percentage of empty lists in 'Themes': 46.38%

In [ ]:
# def process_column(x):
#     # Kiểm tra nếu x là danh sách, nếu không thì trả về chuỗi rỗng
#     if isinstance(x, list):
#         return ', '.join([item[1:-1] if isinstance(item, str) and item[0] == "'" and item[-1] == "'" else item for item in x])
#     else:
#         return x  # Trả về giá trị gốc nếu không phải danh sách

# raw_df['Genres'] = raw_df['Genres'].apply(process_column)
# raw_df['Themes'] = raw_df['Themes'].apply(process_column)

raw_df.head(10)

,Title,Score,Vote,Ranked,Popularity,Members,Favorite,Types,Volumes,Chapters,Status,Published,Genres,Themes,Demographic,Serialization,Author,Total Review,Type Review
0,Berserk,9.47,363720.0,1,1,"725,079","130,489",Manga,Unknown,Unknown,Publishing,"Aug 25, 1989 to ?","['Action', 'Adventure', 'Award Winning', 'Dram...","['Gore', 'Military', 'Mythology', 'Psychologic...",Seinen,Young Animal,"Miura, Kentarou (Story & Art), Studio Gaga (Art)",289,"[252, 17, 20]"
1,JoJo no Kimyou na Bouken Part 7: Steel Ball Ru...,9.31,172219.0,2,23,"280,428","46,269",Manga,24,96,Finished,"Jan 19, 2004 to Apr 19, 2011","['Action', 'Adventure', 'Mystery', 'Supernatur...",['Historical'],Seinen,Ultra Jump,"Araki, Hirohiko (Story & Art)",131,"[123, 7, 1]"
2,Vagabond,9.26,154583.0,3,13,"406,082","44,258",Manga,37,327,On Hiatus,"Sep 3, 1998 to May 21, 2015","['Action', 'Adventure', 'Award Winning']","['Historical', 'Samurai']",Seinen,Morning,"Inoue, Takehiko (Story & Art), Yoshikawa, Eiji...",104,"[93, 9, 2]"
3,One Piece,9.22,392811.0,4,4,"642,620","119,974",Manga,Unknown,Unknown,Publishing,"Jul 22, 1997 to ?","['Action', 'Adventure', 'Fantasy']",[],Shounen,Shounen Jump (Weekly),"Oda, Eiichiro (Story & Art)",231,"[190, 21, 20]"
4,Monster,9.16,104327.0,5,29,"258,581","22,008",Manga,18,162,Finished,"Dec 5, 1994 to Dec 20, 2001","['Award Winning', 'Drama', 'Mystery']","['Adult Cast', 'Psychological']",Seinen,Big Comic Original,"Urasawa, Naoki (Story & Art)",86,"[69, 11, 6]"
5,Slam Dunk,9.08,80820.0,6,54,"179,520","16,617",Manga,31,276,Finished,"Sep 18, 1990 to Jun 4, 1996","['Award Winning', 'Sports']","['School', 'Team Sports']",Shounen,Shounen Jump (Weekly),"Inoue, Takehiko (Story & Art)",57,"[56, 1, 0]"
6,Vinland Saga,9.08,137915.0,7,17,"319,792","35,018",Manga,Unknown,Unknown,Publishing,"Apr 13, 2005 to ?","['Action', 'Adventure', 'Award Winning', 'Drama']",['Historical'],Seinen,Afternoon,"Yukimura, Makoto (Story & Art)",84,"[64, 10, 10]"
7,Fullmetal Alchemist,9.04,161487.0,8,20,"301,710","30,347",Manga,27,116,Finished,"Jul 12, 2001 to Sep 11, 2010","['Action', 'Adventure', 'Award Winning', 'Dram...",['Military'],Shounen,Shounen Gangan,"Arakawa, Hiromu (Story & Art)",61,"[58, 1, 2]"
8,Tian Guan Cifu (Heaven Official's Blessing: Ti...,9.04,6008.0,9,1580,"13,223","1,299",Novel,6,Unknown,Finished,"Feb 4, 2021 to Mar 31, 2022","['Action', 'Adventure', 'Boys Love', 'Supernat...",['Historical'],NaN,NaN,Mo Xiang Tong Xiu (Story),5,"[3, 1, 1]"
9,Grand Blue (Grand Blue Dreaming),9.03,69463.0,10,48,"182,552","17,904",Manga,Unknown,Unknown,Publishing,"Apr 7, 2014 to ?",['Comedy'],[],Seinen,good! Afternoon,"Inoue, Kenji (Story), Yoshioka, Kimitake (Art)",48,"[44, 2, 2]"

In [ ]:
print(raw_df['Demographic'].head())

0     Seinen
1     Seinen
2     Seinen
3    Shounen
4     Seinen
Name: Demographic, dtype: object

In [ ]:
# Replace missing values and empty lists with NaN
raw_df.fillna(np.nan, inplace=True)
for column in raw_df.columns:
    if isinstance(raw_df[column].iloc[0], list):
        raw_df[column] = raw_df[column].apply(lambda x: np.nan if not x else x)

In [ ]:
raw_df.head()

,Title,Score,Vote,Ranked,Popularity,Members,Favorite,Types,Volumes,Chapters,Status,Published,Genres,Themes,Demographic,Serialization,Author,Total Review,Type Review
0,Berserk,9.47,363720.0,1,1,"725,079","130,489",Manga,Unknown,Unknown,Publishing,"Aug 25, 1989 to ?","['Action', 'Adventure', 'Award Winning', 'Dram...","['Gore', 'Military', 'Mythology', 'Psychologic...",Seinen,Young Animal,"Miura, Kentarou (Story & Art), Studio Gaga (Art)",289,"[252, 17, 20]"
1,JoJo no Kimyou na Bouken Part 7: Steel Ball Ru...,9.31,172219.0,2,23,"280,428","46,269",Manga,24,96,Finished,"Jan 19, 2004 to Apr 19, 2011","['Action', 'Adventure', 'Mystery', 'Supernatur...",['Historical'],Seinen,Ultra Jump,"Araki, Hirohiko (Story & Art)",131,"[123, 7, 1]"
2,Vagabond,9.26,154583.0,3,13,"406,082","44,258",Manga,37,327,On Hiatus,"Sep 3, 1998 to May 21, 2015","['Action', 'Adventure', 'Award Winning']","['Historical', 'Samurai']",Seinen,Morning,"Inoue, Takehiko (Story & Art), Yoshikawa, Eiji...",104,"[93, 9, 2]"
3,One Piece,9.22,392811.0,4,4,"642,620","119,974",Manga,Unknown,Unknown,Publishing,"Jul 22, 1997 to ?","['Action', 'Adventure', 'Fantasy']",NaN,Shounen,Shounen Jump (Weekly),"Oda, Eiichiro (Story & Art)",231,"[190, 21, 20]"
4,Monster,9.16,104327.0,5,29,"258,581","22,008",Manga,18,162,Finished,"Dec 5, 1994 to Dec 20, 2001","['Award Winning', 'Drama', 'Mystery']","['Adult Cast', 'Psychological']",Seinen,Big Comic Original,"Urasawa, Naoki (Story & Art)",86,"[69, 11, 6]"

# 4. Handling raw_df['Published']

In [ ]:
def preprocess_published(df):
    """
    Preprocesses the 'Published' column in the DataFrame.

    Args:
        df: The DataFrame containing the 'Published' column.

    Returns:
        The DataFrame with 'Start Date' and 'End Date' columns preprocessed.
    """
    def parse_published(published_str):
        if isinstance(published_str, str):
            if 'to' in published_str:
                # Handle range dates
                start_date_str, end_date_str = published_str.split('to')
                start_date_str = start_date_str.strip()
                end_date_str = end_date_str.strip()
                try:
                    start_date = datetime.strptime(start_date_str, "%b %d, %Y").date()
                except ValueError:
                    try:
                      start_date = datetime.strptime(start_date_str, "%Y").year
                    except ValueError:
                      try:
                        start_date = datetime.strptime(published_str.strip(), "%b %Y").strftime('%Y-%m')
                      except ValueError:
                        start_date = "Unknown"
                try:
                    end_date = datetime.strptime(end_date_str, "%b %d, %Y").date()
                except ValueError:
                    end_date = "Updating"
                return start_date, end_date
            else:
                # Handle single date
                start_date_str = published_str.strip()
                try:
                    start_date = datetime.strptime(start_date_str, "%Y").year
                    return start_date, "Updating"
                except ValueError:
                    try:
                        start_date = datetime.strptime(published_str.strip(), "%b %d, %Y").date()
                        return start_date, "Updating"
                    except ValueError:
                        try:
                            start_date = datetime.strptime(published_str.strip(), "%b %Y").strftime('%Y-%m')
                            return start_date, "Updating"
                        except ValueError:
                          return "Unknown", "Updating"
        return "Unknown", "Updating"

    # Apply the parsing function and split into two columns
    df['Realeased date'], df['Completed date'] = zip(*df['Published'].apply(parse_published))
    return df

raw_df = preprocess_published(raw_df)
raw_df.head(15)

,Title,Score,Vote,Ranked,Popularity,Members,Favorite,Types,Volumes,Chapters,...,Published,Genres,Themes,Demographic,Serialization,Author,Total Review,Type Review,Realeased date,Completed date
0,Berserk,9.47,363720.0,1,1,"725,079","130,489",Manga,Unknown,Unknown,...,"Aug 25, 1989 to ?","['Action', 'Adventure', 'Award Winning', 'Dram...","['Gore', 'Military', 'Mythology', 'Psychologic...",Seinen,Young Animal,"Miura, Kentarou (Story & Art), Studio Gaga (Art)",289,"[252, 17, 20]",1989-08-25,Updating
1,JoJo no Kimyou na Bouken Part 7: Steel Ball Ru...,9.31,172219.0,2,23,"280,428","46,269",Manga,24,96,...,"Jan 19, 2004 to Apr 19, 2011","['Action', 'Adventure', 'Mystery', 'Supernatur...",['Historical'],Seinen,Ultra Jump,"Araki, Hirohiko (Story & Art)",131,"[123, 7, 1]",2004-01-19,2011-04-19
2,Vagabond,9.26,154583.0,3,13,"406,082","44,258",Manga,37,327,...,"Sep 3, 1998 to May 21, 2015","['Action', 'Adventure', 'Award Winning']","['Historical', 'Samurai']",Seinen,Morning,"Inoue, Takehiko (Story & Art), Yoshikawa, Eiji...",104,"[93, 9, 2]",1998-09-03,2015-05-21
3,One Piece,9.22,392811.0,4,4,"642,620","119,974",Manga,Unknown,Unknown,...,"Jul 22, 1997 to ?","['Action', 'Adventure', 'Fantasy']",NaN,Shounen,Shounen Jump (Weekly),"Oda, Eiichiro (Story & Art)",231,"[190, 21, 20]",1997-07-22,Updating
4,Monster,9.16,104327.0,5,29,"258,581","22,008",Manga,18,162,...,"Dec 5, 1994 to Dec 20, 2001","['Award Winning', 'Drama', 'Mystery']","['Adult Cast', 'Psychological']",Seinen,Big Comic Original,"Urasawa, Naoki (Story & Art)",86,"[69, 11, 6]",1994-12-05,2001-12-20
5,Slam Dunk,9.08,80820.0,6,54,"179,520","16,617",Manga,31,276,...,"Sep 18, 1990 to Jun 4, 1996","['Award Winning', 'Sports']","['School', 'Team Sports']",Shounen,Shounen Jump (Weekly),"Inoue, Takehiko (Story & Art)",57,"[56, 1, 0]",1990-09-18,1996-06-04
6,Vinland Saga,9.08,137915.0,7,17,"319,792","35,018",Manga,Unknown,Unknown,...,"Apr 13, 2005 to ?","['Action', 'Adventure', 'Award Winning', 'Drama']",['Historical'],Seinen,Afternoon,"Yukimura, Makoto (Story & Art)",84,"[64, 10, 10]",2005-04-13,Updating
7,Fullmetal Alchemist,9.04,161487.0,8,20,"301,710","30,347",Manga,27,116,...,"Jul 12, 2001 to Sep 11, 2010","['Action', 'Adventure', 'Award Winning', 'Dram...",['Military'],Shounen,Shounen Gangan,"Arakawa, Hiromu (Story & Art)",61,"[58, 1, 2]",2001-07-12,2010-09-11
8,Tian Guan Cifu (Heaven Official's Blessing: Ti...,9.04,6008.0,9,1580,"13,223","1,299",Novel,6,Unknown,...,"Feb 4, 2021 to Mar 31, 2022","['Action', 'Adventure', 'Boys Love', 'Supernat...",['Historical'],NaN,NaN,Mo Xiang Tong Xiu (Story),5,"[3, 1, 1]",2021-02-04,2022-03-31
9,Grand Blue (Grand Blue Dreaming),9.03,69463.0,10,48,"182,552","17,904",Manga,Unknown,Unknown,...,"Apr 7, 2014 to ?",['Comedy'],NaN,Seinen,good! Afternoon,"Inoue, Kenji (Story), Yoshioka, Kimitake (Art)",48,"[44, 2, 2]",2014-04-07,Updating
10,Omniscient Reader's Viewpoint,9.02,7690.0,11,1130,"17,480","1,653",Novel,20,105,...,"Jan 20, 2022 to Sep 11, 2023","['Action', 'Adventure', 'Fantasy']",['Urban Fantasy'],NaN,NaN,sing N song (Story),20,"[19, 1, 0]",2022-01-20,2023-09-11
11,Kingdom,9.01,64772.0,12,53,"179,533","15,745",Manga,Unknown,Unknown,...,"Jan 26, 2006 to ?","['Action', 'Award Winning']","['Historical', 'Military']",Seinen,Young Jump,"Hara, Yasuhisa (Story & Art)",53,"[49, 3, 1]",2006-01-26,Updating
12,Oyasumi Punpun (Goodnight Punpun),9.00,194903.0,13,8,"467,883","54,518",Manga,13,147,...,"Mar 15, 2007 to Nov 2, 2013","['Drama', 'Slice of Life']",['Psychological'],Seinen,Big Comic Spirits,"Asano, Inio (Story & Art)",287,"[214, 39, 34]",2007-03-15,2013-11-02
13,Guimi Zhi Zhu (Lord of Mysteries),8.98,2211.0,14,3792,"5,727",483,Novel,18,366,...,"May 1, 2020 to Aug 1, 2023","['Action', 'Mystery', 'Supernatural', 'Suspense']",NaN,NaN,NaN,Ai Qianshui de Wuzei (Story),15,"[14, 0, 1]",2020-05-01,2023-08-01
14,Houseki no Kuni (Land of the Lustrous),8.97,47967.0,15,82,"143,453","15,884",Manga,13,108,...,"Oct 25, 2012 to Apr 25, 2024","['Action', 'Drama', 'Fantasy']",['Anthropomorphic'],Seinen,Afternoon,"Ichikawa, Haruko (Story & Art)",56,"[46, 9, 1]",2012-10-25,2024-04-25

# 5. Handling missing values

## 5.1. Score (float64) - Ô ko có giá trị thì điền min (Các ô thiếu là các ô dưới cùng)

In [ ]:
min_score = raw_df['Score'].min(skipna=True)
raw_df['Score'].fillna(min_score, inplace=True)

<ipython-input-247-d68ba3f58956>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  raw_df['Score'].fillna(min_score, inplace=True)

## 5.2. Vote (int64) - Ô không có giá trị này thì điền median (Do myanimelist có công thức tính điểm)

In [ ]:
# Calculate the median
median_vote = raw_df['Vote'].median(skipna=True)

# Fill NaN values in 'Vote' with the calculated median
raw_df['Vote'].fillna(median_vote, inplace=True)

# Convert to int64
raw_df['Vote'] = raw_df['Vote'].astype(np.int64)

<ipython-input-248-173cdeb75252>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  raw_df['Vote'].fillna(median_vote, inplace=True)

In [ ]:
raw_df.tail(10)

,Title,Score,Vote,Ranked,Popularity,Members,Favorite,Types,Volumes,Chapters,...,Published,Genres,Themes,Demographic,Serialization,Author,Total Review,Type Review,Realeased date,Completed date
19990,Midnight Panther,2.43,493,19991,35320,209,1,Manga,4,23,...,Feb 1994 to Mar 1997,['Adventure'],NaN,Shounen,Comic NORA,"Asagiri, Yuu (Story & Art)",0,"[0, 0, 0]",Unknown,Updating
19991,Delicious!,2.43,493,19992,26535,399,6,Manga,7,Unknown,...,Apr 1996 to May 1999,"['Gourmet', 'Romance']",['Love Polygon'],Shoujo,Nakayoshi,"Kobayashi, Miyuki (Story), Ayumi, Yui (Art)",0,"[0, 0, 0]",Unknown,Updating
19992,Otenki Oneesan (Weather Woman),2.43,493,19993,29536,317,1,Manga,8,Unknown,...,1992,"['Comedy', 'Slice of Life']",['Showbiz'],Seinen,Young Magazine (Monthly),"Adachi, Tetsu (Story & Art)",0,"[0, 0, 0]",1992,Updating
19993,Akihabara Dennou-gumi Patapi!,2.43,493,19994,37132,184,2,Manga,1,11,...,"Dec 29, 1997 to Nov 2, 1998","['Action', 'Sci-Fi']",NaN,Shoujo,Nakayoshi,"Kotobuki, Tsukasa (Story & Art)",0,"[0, 0, 0]",1997-12-29,1998-11-02
19994,Witch Class,2.43,493,19995,33316,239,3,Manhwa,4,Unknown,...,2005 to ?,NaN,NaN,NaN,NaN,"Lee, Ru (Story)",0,"[0, 0, 0]",2005,Updating
19995,Jinki,2.43,493,19996,25633,429,0,Manga,4,16,...,"Jan 26, 2000 to Oct 26, 2001","['Action', 'Drama', 'Supernatural']",['Mecha'],Shounen,Gangan Wing,"Tsunashima, Shirou (Story & Art)",0,"[0, 0, 0]",2000-01-26,2001-10-26
19996,Magical Nan,2.43,493,19997,35720,203,0,Manga,1,3,...,1990,"['Comedy', 'Romance']",NaN,Shoujo,NaN,"Watase, Yuu (Story & Art)",0,"[0, 0, 0]",1990,Updating
19997,Otenami Haiken!,2.43,493,19998,37133,184,0,Manga,1,2,...,Feb 1991,['Romance'],NaN,Shoujo,NaN,"Watase, Yuu (Story & Art)",0,"[0, 0, 0]",1991-02,Updating
19998,Karen,2.43,493,19999,46084,106,1,Manga,5,Unknown,...,Not available,['Fantasy'],NaN,Shoujo,Ciao,"Yabuuchi, Yuu (Story)",0,"[0, 0, 0]",Unknown,Updating
19999,Twinkle Tiara,2.43,493,20000,34537,220,0,Manga,2,8,...,1999 to ?,"['Comedy', 'Fantasy', 'Romance', 'Supernatural']",NaN,Shoujo,Ribon Magazine,"Fujita, Maguro (Story & Art)",0,"[0, 0, 0]",1999,Updating

## 5.3. Xử lý kiểu dữ liệu của các cột

In [ ]:
raw_df.dtypes

Title              object
Score             float64
Vote                int64
Ranked              int64
Popularity          int64
Members            object
Favorite           object
Types              object
Volumes            object
Chapters           object
Status             object
Published          object
Genres             object
Themes             object
Demographic        object
Serialization      object
Author             object
Total Review        int64
Type Review        object
Realeased date     object
Completed date     object
dtype: object

In [ ]:
# 'Members' to int64
raw_df['Members'] = raw_df['Members'].astype(str).str.replace(',', '', regex=False)
raw_df['Members'] = pd.to_numeric(raw_df['Members'], errors='coerce').fillna(0).astype(np.int64)

# 'Favorite' to int64
raw_df['Favorite'] = raw_df['Favorite'].astype(str).str.replace(',', '', regex=False)
raw_df['Favorite'] = pd.to_numeric(raw_df['Favorite'], errors='coerce').fillna(0).astype(np.int64)

In [ ]:
# # prompt: chuyển cột raw_df['Realeased date'] và cột raw_df['Completed date'] thành định dạng datetime của file csv

# # Convert 'Realeased date' and 'Completed date' columns to datetime objects
# # Handle errors gracefully and fill invalid dates with NaT (Not a Time)

# def to_datetime_safe(date_str):
#     if isinstance(date_str, str):
#       try:
#         return pd.to_datetime(date_str, errors='raise')
#       except ValueError:
#         return pd.NaT
#     elif isinstance(date_str, int):
#         return pd.to_datetime(str(date_str), format="%Y", errors='coerce')
#     else:
#         return pd.NaT


# raw_df['Realeased date'] = raw_df['Realeased date'].apply(to_datetime_safe)
# raw_df['Completed date'] = raw_df['Completed date'].apply(to_datetime_safe)

# # Fill missing 'Completed date' with a default value (e.g., December 24, 2024)
# default_completed_date = pd.to_datetime('2024-12-24')
# raw_df['Completed date'].fillna(default_completed_date, inplace=True)

In [ ]:
raw_df.head(10)

,Title,Score,Vote,Ranked,Popularity,Members,Favorite,Types,Volumes,Chapters,...,Published,Genres,Themes,Demographic,Serialization,Author,Total Review,Type Review,Realeased date,Completed date
0,Berserk,9.47,363720,1,1,725079,130489,Manga,Unknown,Unknown,...,"Aug 25, 1989 to ?","['Action', 'Adventure', 'Award Winning', 'Dram...","['Gore', 'Military', 'Mythology', 'Psychologic...",Seinen,Young Animal,"Miura, Kentarou (Story & Art), Studio Gaga (Art)",289,"[252, 17, 20]",1989-08-25,Updating
1,JoJo no Kimyou na Bouken Part 7: Steel Ball Ru...,9.31,172219,2,23,280428,46269,Manga,24,96,...,"Jan 19, 2004 to Apr 19, 2011","['Action', 'Adventure', 'Mystery', 'Supernatur...",['Historical'],Seinen,Ultra Jump,"Araki, Hirohiko (Story & Art)",131,"[123, 7, 1]",2004-01-19,2011-04-19
2,Vagabond,9.26,154583,3,13,406082,44258,Manga,37,327,...,"Sep 3, 1998 to May 21, 2015","['Action', 'Adventure', 'Award Winning']","['Historical', 'Samurai']",Seinen,Morning,"Inoue, Takehiko (Story & Art), Yoshikawa, Eiji...",104,"[93, 9, 2]",1998-09-03,2015-05-21
3,One Piece,9.22,392811,4,4,642620,119974,Manga,Unknown,Unknown,...,"Jul 22, 1997 to ?","['Action', 'Adventure', 'Fantasy']",NaN,Shounen,Shounen Jump (Weekly),"Oda, Eiichiro (Story & Art)",231,"[190, 21, 20]",1997-07-22,Updating
4,Monster,9.16,104327,5,29,258581,22008,Manga,18,162,...,"Dec 5, 1994 to Dec 20, 2001","['Award Winning', 'Drama', 'Mystery']","['Adult Cast', 'Psychological']",Seinen,Big Comic Original,"Urasawa, Naoki (Story & Art)",86,"[69, 11, 6]",1994-12-05,2001-12-20
5,Slam Dunk,9.08,80820,6,54,179520,16617,Manga,31,276,...,"Sep 18, 1990 to Jun 4, 1996","['Award Winning', 'Sports']","['School', 'Team Sports']",Shounen,Shounen Jump (Weekly),"Inoue, Takehiko (Story & Art)",57,"[56, 1, 0]",1990-09-18,1996-06-04
6,Vinland Saga,9.08,137915,7,17,319792,35018,Manga,Unknown,Unknown,...,"Apr 13, 2005 to ?","['Action', 'Adventure', 'Award Winning', 'Drama']",['Historical'],Seinen,Afternoon,"Yukimura, Makoto (Story & Art)",84,"[64, 10, 10]",2005-04-13,Updating
7,Fullmetal Alchemist,9.04,161487,8,20,301710,30347,Manga,27,116,...,"Jul 12, 2001 to Sep 11, 2010","['Action', 'Adventure', 'Award Winning', 'Dram...",['Military'],Shounen,Shounen Gangan,"Arakawa, Hiromu (Story & Art)",61,"[58, 1, 2]",2001-07-12,2010-09-11
8,Tian Guan Cifu (Heaven Official's Blessing: Ti...,9.04,6008,9,1580,13223,1299,Novel,6,Unknown,...,"Feb 4, 2021 to Mar 31, 2022","['Action', 'Adventure', 'Boys Love', 'Supernat...",['Historical'],NaN,NaN,Mo Xiang Tong Xiu (Story),5,"[3, 1, 1]",2021-02-04,2022-03-31
9,Grand Blue (Grand Blue Dreaming),9.03,69463,10,48,182552,17904,Manga,Unknown,Unknown,...,"Apr 7, 2014 to ?",['Comedy'],NaN,Seinen,good! Afternoon,"Inoue, Kenji (Story), Yoshioka, Kimitake (Art)",48,"[44, 2, 2]",2014-04-07,Updating

In [ ]:
raw_df.dtypes

Title              object
Score             float64
Vote                int64
Ranked              int64
Popularity          int64
Members             int64
Favorite            int64
Types              object
Volumes            object
Chapters           object
Status             object
Published          object
Genres             object
Themes             object
Demographic        object
Serialization      object
Author             object
Total Review        int64
Type Review        object
Realeased date     object
Completed date     object
dtype: object

## 5.4. Xử lý 'Volumes' và 'Chapters'

In [ ]:
# prompt: tìm phần trăm các cột unknown  và các cột chuỗi '0' trong raw_df['Chapters'] và raw_df['Volumes']

# Calculate the percentage of 'unknown' values in 'Chapters' and 'Volumes'
unknown_chapters_percentage = (raw_df['Chapters'] == 'Unknown').sum() / len(raw_df) * 100
unknown_volumes_percentage = (raw_df['Volumes'] == 'Unknown').sum() / len(raw_df) * 100

# Calculate the percentage of '0' values in 'Chapters' and 'Volumes'
zero_chapters_percentage = (raw_df['Chapters'] == 0).sum() / len(raw_df) * 100
zero_volumes_percentage = (raw_df['Volumes'] == 0).sum() / len(raw_df) * 100

print(f"'Unknown' values in 'Chapters': {unknown_chapters_percentage:.2f}%")
print(f"'Unknown' values in 'Volumes': {unknown_volumes_percentage:.2f}%")
print(f"'0' values in 'Chapters': {zero_chapters_percentage:.2f}%")
print(f"'0' values in 'Volumes': {zero_volumes_percentage:.2f}%")

'Unknown' values in 'Chapters': 21.89%
'Unknown' values in 'Volumes': 30.54%
'0' values in 'Chapters': 0.00%
'0' values in 'Volumes': 0.00%

In [ ]:
# Convert 'Volumes' and 'Chapters' to int64
raw_df['Volumes'] = pd.to_numeric(raw_df['Volumes'], errors='coerce').fillna(0).astype(np.int64)
raw_df['Chapters'] = pd.to_numeric(raw_df['Chapters'], errors='coerce').fillna(0).astype(np.int64)

# Calculate quartiles for 'Volumes'
quartiles_volumes = np.percentile(raw_df['Volumes'], [25, 50, 75])
print("Quartiles for Volumes:", quartiles_volumes)

# Calculate quartiles for 'Chapters'
quartiles_chapters = np.percentile(raw_df['Chapters'], [25, 50, 75])
print("Quartiles for Chapters:", quartiles_chapters)

# Function to calculate the percentage of values within each quartile range
def quartile_percentages(data):
    q1, q2, q3 = np.percentile(data, [25, 50, 75])
    percentages = {
        '0-25%': len(data[data <= q1]) / len(data) * 100,
        '25-50%': len(data[(data > q1) & (data <= q2)]) / len(data) * 100,
        '50-75%': len(data[(data > q2) & (data <= q3)]) / len(data) * 100,
        '75-100%': len(data[data > q3]) / len(data) * 100
    }
    return percentages

# the percentages for 'Volumes'
volumes_percentages = quartile_percentages(raw_df['Volumes'])
print("Percentage of Volumes:")
for range, percentage in volumes_percentages.items():
    print(f"{range}: {percentage:.2f}%")

# the percentages for 'Chapters'
chapters_percentages = quartile_percentages(raw_df['Chapters'])
print("\nPercentage of Chapters:")
for range, percentage in chapters_percentages.items():
    print(f"{range}: {percentage:.2f}%")

Quartiles for Volumes: [0. 1. 4.]
Quartiles for Chapters: [ 1.  9. 30.]
Percentage of Volumes:
0-25%: 30.54%
25-50%: 22.30%
50-75%: 24.18%
75-100%: 22.99%

Percentage of Chapters:
0-25%: 31.16%
25-50%: 20.27%
50-75%: 24.06%
75-100%: 24.51%

In [ ]:
# prompt: xử lý các giá trị 0 trong raw_df['Chapters'] và raw_df['Volums'] bằng median

# Calculate the median for 'Chapters' and 'Volumes', excluding zeros
median_chapters = raw_df.loc[raw_df['Chapters'] != 0, 'Chapters'].median()
median_volumes = raw_df.loc[raw_df['Volumes'] != 0, 'Volumes'].median()

# Replace zeros in 'Chapters' and 'Volumes' with their respective medians
raw_df['Chapters'] = raw_df['Chapters'].replace(0, median_chapters)
raw_df['Volumes'] = raw_df['Volumes'].replace(0, median_volumes)

# Calculate and print the percentages for 'Volumes'
volumes_percentages = quartile_percentages(raw_df['Volumes'])
print("Percentage of Volumes:")
for range, percentage in volumes_percentages.items():
    print(f"{range}: {percentage:.2f}%")

# Calculate and print the percentages for 'Chapters'
chapters_percentages = quartile_percentages(raw_df['Chapters'])
print("\nPercentage of Chapters:")
for range, percentage in chapters_percentages.items():
    print(f"{range}: {percentage:.2f}%")

Percentage of Volumes:
0-25%: 32.06%
25-50%: 39.14%
50-75%: 5.80%
75-100%: 22.99%

Percentage of Chapters:
0-25%: 25.79%
25-50%: 35.43%
50-75%: 14.27%
75-100%: 24.51%

## 5.5. Author (object) - Chuyển dạng string sang dạng list

In [ ]:
def convert_author_to_list(author_str):
    if isinstance(author_str, str):
        return [author_str.strip()]
    elif pd.isna(author_str):
        return []
    else:
        return []

raw_df['Author'] = raw_df['Author'].apply(convert_author_to_list)

## 5.6. Xử lý cột Type Review

In [ ]:
# prompt: Tách cột Type Review  từ object như [252, 17, 20]
# thành 3 cột, 20. Recommended - int64
# 21. Mixed Feelings - int64
# 22. Not Recommended - int64

import ast

def split_type_review(type_review_str):
    try:
        type_review_list = ast.literal_eval(type_review_str)
        recommended = type_review_list[0] if len(type_review_list) > 0 else 0
        mixed_feelings = type_review_list[1] if len(type_review_list) > 1 else 0
        not_recommended = type_review_list[2] if len(type_review_list) > 2 else 0
        return recommended, mixed_feelings, not_recommended
    except (ValueError, SyntaxError, IndexError):
        return 0, 0, 0

raw_df[['Recommended', 'Mixed Feelings', 'Not Recommended']] = raw_df['Type Review'].apply(lambda x: pd.Series(split_type_review(x)))

In [ ]:
raw_df.head(10)

,Title,Score,Vote,Ranked,Popularity,Members,Favorite,Types,Volumes,Chapters,...,Demographic,Serialization,Author,Total Review,Type Review,Realeased date,Completed date,Recommended,Mixed Feelings,Not Recommended
0,Berserk,9.47,363720,1,1,725079,130489,Manga,3,15,...,Seinen,Young Animal,"[Miura, Kentarou (Story & Art), Studio Gaga (A...",289,"[252, 17, 20]",1989-08-25,Updating,252,17,20
1,JoJo no Kimyou na Bouken Part 7: Steel Ball Ru...,9.31,172219,2,23,280428,46269,Manga,24,96,...,Seinen,Ultra Jump,"[Araki, Hirohiko (Story & Art)]",131,"[123, 7, 1]",2004-01-19,2011-04-19,123,7,1
2,Vagabond,9.26,154583,3,13,406082,44258,Manga,37,327,...,Seinen,Morning,"[Inoue, Takehiko (Story & Art), Yoshikawa, Eij...",104,"[93, 9, 2]",1998-09-03,2015-05-21,93,9,2
3,One Piece,9.22,392811,4,4,642620,119974,Manga,3,15,...,Shounen,Shounen Jump (Weekly),"[Oda, Eiichiro (Story & Art)]",231,"[190, 21, 20]",1997-07-22,Updating,190,21,20
4,Monster,9.16,104327,5,29,258581,22008,Manga,18,162,...,Seinen,Big Comic Original,"[Urasawa, Naoki (Story & Art)]",86,"[69, 11, 6]",1994-12-05,2001-12-20,69,11,6
5,Slam Dunk,9.08,80820,6,54,179520,16617,Manga,31,276,...,Shounen,Shounen Jump (Weekly),"[Inoue, Takehiko (Story & Art)]",57,"[56, 1, 0]",1990-09-18,1996-06-04,56,1,0
6,Vinland Saga,9.08,137915,7,17,319792,35018,Manga,3,15,...,Seinen,Afternoon,"[Yukimura, Makoto (Story & Art)]",84,"[64, 10, 10]",2005-04-13,Updating,64,10,10
7,Fullmetal Alchemist,9.04,161487,8,20,301710,30347,Manga,27,116,...,Shounen,Shounen Gangan,"[Arakawa, Hiromu (Story & Art)]",61,"[58, 1, 2]",2001-07-12,2010-09-11,58,1,2
8,Tian Guan Cifu (Heaven Official's Blessing: Ti...,9.04,6008,9,1580,13223,1299,Novel,6,15,...,NaN,NaN,[Mo Xiang Tong Xiu (Story)],5,"[3, 1, 1]",2021-02-04,2022-03-31,3,1,1
9,Grand Blue (Grand Blue Dreaming),9.03,69463,10,48,182552,17904,Manga,3,15,...,Seinen,good! Afternoon,"[Inoue, Kenji (Story), Yoshioka, Kimitake (Art)]",48,"[44, 2, 2]",2014-04-07,Updating,44,2,2

# 6. Xử lý tên tác giả raw_df['Author']

In [ ]:
#listing all possible role
import re

def extract_authors(author_list):
  authors = set()
  for author_str in author_list:
    if isinstance(author_str, str):
      matches = re.findall(r'\((.*?)\)', author_str)
      for match in matches:
          authors.add(match.strip())
  return authors

all_authors = set()
for index in raw_df.index:
  author_list = raw_df.loc[index, 'Author']
  if author_list:
    extracted_authors = extract_authors(author_list)
    all_authors.update(extracted_authors)

for author in all_authors:
  print(author)

Story
A
Art
Story & Art

In [ ]:
#find role (A)

import pandas as pd
# Assuming raw_df is already defined from the previous code

# Find rows where 'Author' contains '(A)'
rows_with_A = raw_df[raw_df['Author'].astype(str).str.contains('\(A\)')]

# Print the rows
rows_with_A

,Title,Score,Vote,Ranked,Popularity,Members,Favorite,Types,Volumes,Chapters,...,Demographic,Serialization,Author,Total Review,Type Review,Realeased date,Completed date,Recommended,Mixed Feelings,Not Recommended
8203,Ninja Hattori-kun,7.04,178,8204,26172,411,7,Manga,16,15,...,Shounen,Shounen,"[Fujiko, Fujio (A) (Story & Art)]",0,"[0, 0, 0]",1964,Updating,0,0,0

In [ ]:
# prompt: xóa hết các substring bắt đầu và kết thúc bằng () trong raw_df['Author']

import re

def remove_parentheses_substring(author_list):
  cleaned_authors = []
  for author_str in author_list:
    if isinstance(author_str, str):
      cleaned_str = re.sub(r'\(.*?\)', '', author_str).strip()
      if cleaned_str:  # Check if the string is not empty after removal
        cleaned_authors.append(cleaned_str)
    elif isinstance(author_str, list):
        cleaned_authors.extend(remove_parentheses_substring(author_str))
  return cleaned_authors

raw_df['Author'] = raw_df['Author'].apply(remove_parentheses_substring)

In [ ]:
def format_author(author_list):
    formatted_authors = []
    for author_str in author_list:
        if isinstance(author_str, str):
            # Split the string by comma and strip extra spaces
            parts = [part.strip() for part in author_str.split(',')]
            # Remove empty strings (if any)
            parts = [part for part in parts if part]
            # If there are at least two parts, combine first part and last part correctly
            while len(parts) >= 2:
              author_name = "'" + parts[0] + ',' + parts[1] + "'"
              formatted_authors.append(author_name)
              parts = parts[2:]
            if parts:
              author_name = "'" + parts[0] + "'"
              formatted_authors.append(author_name)
        elif isinstance(author_str, list):
            formatted_authors.extend(format_author(author_str))  # Handle nested lists
    return formatted_authors

# Assuming raw_df is already defined and has a column 'Author'
raw_df['Author'] = raw_df['Author'].apply(format_author)
raw_df.head(10)

,Title,Score,Vote,Ranked,Popularity,Members,Favorite,Types,Volumes,Chapters,...,Demographic,Serialization,Author,Total Review,Type Review,Realeased date,Completed date,Recommended,Mixed Feelings,Not Recommended
0,Berserk,9.47,363720,1,1,725079,130489,Manga,3,15,...,Seinen,Young Animal,"['Miura,Kentarou', 'Studio Gaga']",289,"[252, 17, 20]",1989-08-25,Updating,252,17,20
1,JoJo no Kimyou na Bouken Part 7: Steel Ball Ru...,9.31,172219,2,23,280428,46269,Manga,24,96,...,Seinen,Ultra Jump,"['Araki,Hirohiko']",131,"[123, 7, 1]",2004-01-19,2011-04-19,123,7,1
2,Vagabond,9.26,154583,3,13,406082,44258,Manga,37,327,...,Seinen,Morning,"['Inoue,Takehiko', 'Yoshikawa,Eiji']",104,"[93, 9, 2]",1998-09-03,2015-05-21,93,9,2
3,One Piece,9.22,392811,4,4,642620,119974,Manga,3,15,...,Shounen,Shounen Jump (Weekly),"['Oda,Eiichiro']",231,"[190, 21, 20]",1997-07-22,Updating,190,21,20
4,Monster,9.16,104327,5,29,258581,22008,Manga,18,162,...,Seinen,Big Comic Original,"['Urasawa,Naoki']",86,"[69, 11, 6]",1994-12-05,2001-12-20,69,11,6
5,Slam Dunk,9.08,80820,6,54,179520,16617,Manga,31,276,...,Shounen,Shounen Jump (Weekly),"['Inoue,Takehiko']",57,"[56, 1, 0]",1990-09-18,1996-06-04,56,1,0
6,Vinland Saga,9.08,137915,7,17,319792,35018,Manga,3,15,...,Seinen,Afternoon,"['Yukimura,Makoto']",84,"[64, 10, 10]",2005-04-13,Updating,64,10,10
7,Fullmetal Alchemist,9.04,161487,8,20,301710,30347,Manga,27,116,...,Shounen,Shounen Gangan,"['Arakawa,Hiromu']",61,"[58, 1, 2]",2001-07-12,2010-09-11,58,1,2
8,Tian Guan Cifu (Heaven Official's Blessing: Ti...,9.04,6008,9,1580,13223,1299,Novel,6,15,...,NaN,NaN,['Mo Xiang Tong Xiu'],5,"[3, 1, 1]",2021-02-04,2022-03-31,3,1,1
9,Grand Blue (Grand Blue Dreaming),9.03,69463,10,48,182552,17904,Manga,3,15,...,Seinen,good! Afternoon,"['Inoue,Kenji', 'Yoshioka,Kimitake']",48,"[44, 2, 2]",2014-04-07,Updating,44,2,2

# 6. Terminal Adjustment and Save to Csv

In [ ]:
# prompt: lưu raw_df vào file csv tên là 'raw_anime_proccessed'

raw_df.to_csv('raw_anime_proccessed.csv', index=False)